services:
  caddy:
    networks:
      - services
      - home
    container_name: caddy
    restart: unless-stopped
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
    volumes:
      - /srv/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /srv/caddy/sites:/etc/caddy/sites:ro
      - /srv/ftp:/var/www:ro
      - /srv/caddy/data:/data:rw
      - /srv/caddy/config:/config:rw
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    image: caddy:2.7.6-alpine

networks:
  services:
    name: services
  home:
    name: home
