services:
  sftpgo:
    networks:
      - home
    container_name: sftpgo
    restart: unless-stopped
    ports:
      - 21:21/tcp
      - 21000-21010:21000-21010/tcp
    volumes:
      - /srv/ftp:/srv/sftpgo/data
      - /srv/sftpgo/backups:/srv/sftpgo/backups
      - /srv/sftpgo/home:/var/lib/sftpgo
    environment:
      - SFTPGO_FTPD__BINDINGS__0__PORT=21
      - SFTPGO_FTPD__PASSIVE_PORT_RANGE__START=21000
      - SFTPGO_FTPD__PASSIVE_PORT_RANGE__END=21010
    image: drakkan/sftpgo:v2.6.2-alpine

networks:
  home:
    external: true
    name: home
