{
#   # Set the ACME DNS challenge provider to use Cloudflare for all sites
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  ech tmak2002.de
}

(mutual_tls) {
  tls {
    protocols tls1.3
    client_auth {
      mode require_and_verify
      trust_pool file {
        pem_file /vaultls/ca/ca-tls.cert
      }
    }
  }
}

pihole.tmak2002.de {
  redir / /admin
  reverse_proxy pihole:80
}

syncthing.tmak2002.de {
  reverse_proxy syncthing:8384
}

vault.tmak2002.de {
  import mutual_tls
  encode zstd gzip
  reverse_proxy vaultwarden:80
}

links.tmak2002.de {
  reverse_proxy linkding:9090
}

certs.tmak2002.de {
  reverse_proxy vaultls:80
}

photos.tmak2002.de {
  import mutual_tls
  reverse_proxy immich_server:2283
}

home.tmak2002.de {
  import mutual_tls
  reverse_proxy homepage:3000
}