daemon=600				            # check every 600 seconds
syslog=yes				            # log update msgs to syslog
pid=/var/run/ddclient/ddclient.pid	# record PID in file.
ssl=yes 				            # use ssl-support.  Works with
use=web, web=checkip.dyndns.org

# authelia
protocol=cloudns, \
dynurl={{ authelia_ddns }}, \
auth.{{ domain }}
