daemon=600				            # check every 600 seconds
syslog=yes				            # log update msgs to syslog
pid=/var/run/ddclient/ddclient.pid	# record PID in file.
ssl=yes 				            # use ssl-support.  Works with
use=web, web=api.ipify.org

# authelia
protocol=cloudns
dynurl={{ authelia_ddns }}
auth.{{ domain }}

# sftpgo
protocol=cloudns
dynurl={{ sftpgo_ddns }}
sftpgo.{{ domain }}

# AnonymousOverflow
protocol=cloudns
dynurl={{ anonymousoverflow_ddns }}
overflow.{{ domain }}

# redlib
protocol=cloudns
dynurl={{ redlib_ddns }}
redlib.{{ domain }}

# proxitok
protocol=cloudns
dynurl={{ proxitok_ddns }}
proxitok.{{ domain }}

# searxng
protocol=cloudns
dynurl={{ searxng_ddns }}
searxng.{{ domain }}

# linkding
protocol=cloudns
dynurl={{ linkding_ddns }}
linkding.{{ domain }}

# pihole
protocol=cloudns
dynurl={{ pihole_ddns }}
pihole.{{ domain }}

# uptime kuma
protocol=cloudns
dynurl={{ uptime_kuma_ddns }}
status.{{ domain }}

# grafana
protocol=cloudns
dynurl={{ grafana_ddns }}
grafana.{{ domain }}

# syncthing
protocol=cloudns
dynurl={{ syncthing_ddns }}
syncthing.{{ domain }}

# dozzle
protocol=cloudns
dynurl={{ dozzle_ddns }}
dozzle.{{ domain }}

# netdata
protocol=cloudns
dynurl={{ netdata_ddns }}
netdata.{{ domain }}
