services:
  redis:
    container_name: searxng_redis
    image: redis:7.2.5-alpine
    restart: unless-stopped
    command: redis-server --save 30 1 --loglevel warning
    volumes:
      - /srv/searxng/redis-data:/data
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    networks:
      - searxng

  searxng:
    container_name: searxng
    image: searxng/searxng@sha256:763c8d4afab991ca02780ca15870f32d2fc079159fa663ed67f01220536ff0f7
    restart: unless-stopped
    volumes:
      - /srv/searxng/settings.yml:/etc/searxng/settings.yml
      - /srv/searxng/limiter.toml:/etc/searxng/limiter.toml
    environment:
      - SEARXNG_BASE_URL=https://searxng.{{ services_domain }}
      - SEARXNG_REDIS_URL=redis://searxng_redis
      - SEARXNG_SECRET="{{ searxng_secret }}"
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    networks:
      - services
      - searxng

networks:
  services:
    external: true
  searxng:
