services:
  anonymousoverflow:
    container_name: anonymousoverflow
    image: codeberg.org/aryak/anonymousoverflow-docker-builds@sha256:a40001245f5a39b979a3fe380ff3234debb408b03c93da36977d8295e935fff4
    environment:
      - APP_URL=overflow.{{ services_domain }}
      - JWT_SIGNING_SECRET={{ anonymousoverflow_secret }}
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - services

networks:
  services:
    external: true
