services:
  anonymousoverflow:
    container_name: anonymousoverflow
    image: codeberg.org/aryak/anonymousoverflow-docker-builds@sha256:a2a1dddded93e132e15f2239ab5b57f631e6318879b96436ac59384e08da53c9
    environment:
      - APP_URL=overflow.{{ services_domain }}
      - JWT_SIGNING_SECRET={{ anonymousoverflow_secret }}
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - services

networks:
  services:
    external: true
