services:
  unbound:
    image: pedantic/unbound:latest
    container_name: unbound
    restart: unless-stopped
    hostname: unbound
    volumes:
      - /srv/unbound:/opt/unbound/etc/unbound/
    networks:
      dns:
        ipv4_address: 10.2.0.200

  pihole:
    container_name: pihole
    image: pihole/pihole:2024.03.2
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      - TZ=Europe/Berlin
      - FTLCONF_LOCAL_IPV4=192.168.178.2
      - PIHOLE_DNS_=10.2.0.200
      - WEBPASSWORD={{ pihole_password }}
    volumes:
      - /srv/pihole/etc-pihole/:/etc/pihole/
      - /srv/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - dns
      - home

networks:
  dns:
    ipam:
      driver: default
      config:
        - subnet: 10.2.0.0/24
  home:
    external: true
