services:
  portainer:
    image: portainer/portainer-ee@sha256:96283e928d8474fc588c7f4f8b2219f307dfbc8498f14f652ae4407ff16ca005
    restart: always
    container_name: portainer
    volumes:
      - /srv/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - home

networks:
  home:
    external: true
