---
- name: Create syncthing directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: 1000
    group: 1000
  loop:
    - /srv/syncthing
    - /srv/syncthing/config
  tags:
    - setup

- name: Deploy syncthing
  community.docker.docker_container:
    name: syncthing
    image: syncthing/syncthing:2.0.12
    pull: true
    recreate: true
    restart_policy: unless-stopped
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    volumes:
      - /srv/syncthing/config:/var/syncthing/config
      - /srv/syncthing:/var/syncthing
    env:
      TZ: "{{ timezone }}"
    networks:
      - name: core
    labels: traefik.enable=true traefik.http.routers.syncthing.rule=Host(`syncthing.{{ domain }}`) traefik.http.routers.syncthing.entrypoints=websecure
      traefik.http.routers.syncthing.tls.certresolver=letsencrypt traefik.http.services.syncthing.loadbalancer.server.port=8384
  tags:
    - setup
    - update
